<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AGAProje.Properties.Settings.SATIS_OTOMASYONUConnectionString"
            connectionString="Data Source=DESKTOP-9U648KD;Initial Catalog=SATIS_OTOMASYONU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>